::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: #0A192F;
}

::-webkit-scrollbar-thumb{
    background: grey;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(70, 70, 70);
}